{
    "api": {
        "telegram_bot": "",
        "catapi": "",
        "giphy": "",
        "league_of_legends": ""
    },
    "plugins": [
        "admin",
        "help",
        "about",
        "echo",
        "who",
        "voice",
        "chatter",
        "cats",
        "search",
        "images",
        "konachan",
        "urbandictionary",
        "interactions",
        "league_of_legends"
    ],
    "ignore": {
        "old_messages": true,
        "media": false
    },
    "process": {
        "new_chat_participant": true,
        "left_chat_participant": true,
        "reply_to_message": true,
        "chatter": true
    },
    "admin": [
        0
    ],
    "locale_file": "default",
    "command_start": "/",
    "handle_exceptions": true
}