appdirs==1.4.3
beautifulsoup4==4.7.1
CacheControl==0.12.5
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
ChatterBot==1.0.2
chatterbot-corpus==1.2.0
DictObject==1.0.5
firebase-admin==2.15.1
future==0.17.1
google-api-core==1.7.0
google-auth==1.6.2
google-cloud-core==0.29.1
google-cloud-firestore==0.31.0
google-cloud-storage==1.14.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.6
grpcio==1.18.0
idna==2.7
jsondatabase==0.1.7
luckydonald-utils==0.69
mathparse==0.1.2
msgpack==0.6.1
nltk==3.4
oauthlib==3.0.1
ordereddict==1.1
packaging==19.0
Pint==0.9
protobuf==3.6.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pymongo==3.7.2
pyparsing==2.3.1
pytg==0.4.10
python-dateutil==2.7.5
python-magic==0.4.15
python-twitter==3.5
pytz==2018.9
PyYAML==3.13
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.0
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.7.3
SQLAlchemy==1.2.17
systemd==0.16.1
textblob==0.15.2
urllib3==1.24.1
