appdirs==1.4.3
beautifulsoup4==4.5.1
CacheControl==0.12.5
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
ChatterBot==0.5.0
DictObject==1.0.5
firebase-admin==2.12.0
future==0.16.0
google-api-core==1.2.1
google-auth==1.5.0
google-cloud-core==0.28.1
google-cloud-firestore==0.29.0
google-cloud-storage==1.10.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
idna==2.7
jsondatabase==0.1.3
luckydonald-utils==0.48
msgpack==0.5.6
nltk==3.2.5
oauthlib==2.0.1
ordereddict==1.1
packaging==16.8
protobuf==3.6.0
pyasn1==0.4.3
pyasn1-modules==0.2.2
pymongo==3.4.0
pyparsing==2.2.0
pytg==0.4.10
python-magic==0.4.12
python-twitter==3.2
pytz==2018.5
requests==2.19.1
requests-oauthlib==0.7.0
rsa==3.4.2
six==1.10.0
systemd==0.16.1
textblob==0.11.1
urllib3==1.23
