beautifulsoup4==4.8.0
CacheControl==0.12.5
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
DictObject==1.0.5
firebase-admin==3.0.0
future==0.17.1
google-api-core==1.14.2
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud-core==1.0.3
google-cloud-firestore==1.4.0
google-cloud-storage==1.19.0
google-resumable-media==0.4.0
googleapis-common-protos==1.6.0
grpcio==1.23.0
httplib2==0.13.1
idna==2.8
luckydonald-utils==0.76
meteocalc==1.1.0
msgpack==0.6.1
oauthlib==3.1.0
ordereddict==1.1
protobuf==3.9.1
pyaes==1.6.1
pyasn1==0.4.7
pyasn1-modules==0.2.6
pytg==0.4.10
python-dateutil==2.8.0
python-magic==0.4.15
pytz==2019.2
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
soupsieve==1.9.3
systemd==0.16.1
Telethon==1.10.4
uritemplate==3.0.0
urllib3==1.25.3
