
{
    "bindings": "telegram-bot-api",
    "bindings_token": "YOUR TOKEN",
    "prefix": "/",
    "owner": 12345678,
    "debug": true,
    "translation": "default",
    "plugins": [
        "help",
        "cats",
        "echo",
        "weather"
    ],
    "api_keys": {
        "microsoft_azure_key": "",
        "google_developer_console": "",
        "cat_api": "",
        "chatbot": 6,
        "giphy": "",
        "lastfm": "",
        "league_of_legends": "",
        "openweathermap": "",
        "weather_underground": ""
    }
}
