[Unit]
Description=Polaris Systemd Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/sh runme.sh
WorkingDirectory=/home/ender/Projects/polaris
SyslogIdentifier=polaris
User=ender

[Install]
WantedBy=multi-user.target
