[Unit]
Description=Polaris Systemd Service

[Service]
Type=forking
ExecStart=/usr/bin/screen -dmS polaris /bin/bash runme.sh
WorkingDirectory=/home/ender/Projects/polaris
User=ender

[Install]
WantedBy=default.target
