[Unit]
Description=Polaris.py Systemd Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/sh runme.sh
WorkingDirectory=/home/ender/Projects/polaris.py
SyslogIdentifier=polaris-py
User=ender

[Install]
WantedBy=multi-user.target
