{
    "bindings": "api",
    "keys": {
        "azure_key": null,
        "bot_api_token": null,
        "cat_api": null,
        "giphy": null,
        "google_developer_console": null,
        "league_of_legends": null,
        "openweathermap": null,
        "tg_cli_port": null
    },
    "owner": null,
    "plugins": [
        "echo"
    ],
    "start": "/"
}